In [1]:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
df = pd.read_excel('datasheet.xlsx')
df.head()

,tid,nama,kelas,qty,title,tgl_pinjam,tgl_kembali
0,1,SALSA MAULANI,XI IPS 2,1,WHY ? BUMI,2019-01-02,2019-01-09
1,2,NABILA,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
2,3,WALIDAH,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
3,4,AULIA NURUL UTAMI,XII IPA 2,1,CURHAT SAMA NABI,2019-01-03,2019-01-10
4,5,DIANI,XII IPS 3,1,EFISIENSI WAKTU UNTUK MANAGER,2019-01-03,2019-01-10

In [2]:
df['title'] = df['title'].str.strip()
df.dropna(axis=0, subset=['tid'], inplace=True)
df['tid'] = df['tid'].astype('str')
df = df[~df['tid'].str.contains('C')]
df

,tid,nama,kelas,qty,title,tgl_pinjam,tgl_kembali
0,1,SALSA MAULANI,XI IPS 2,1,WHY ? BUMI,2019-01-02,2019-01-09
1,2,NABILA,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
2,3,WALIDAH,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
3,4,AULIA NURUL UTAMI,XII IPA 2,1,CURHAT SAMA NABI,2019-01-03,2019-01-10
4,5,DIANI,XII IPS 3,1,EFISIENSI WAKTU UNTUK MANAGER,2019-01-03,2019-01-10
...,...,...,...,...,...,...,...
1081,914,ADINDA,XII MIPA,1,RINDU,2019-12-13,2019-12-20
1082,915,SARAH,XII MIPA,1,SURAT DAHLAN,2019-12-13,2019-12-20
1083,915,SARAH,XII MIPA,1,AYAKU BUKAN PEMBOHONG,2019-12-13,2019-12-20
1084,916,SALMA,X MIPA 2,1,"KAU, AKU DAN SEPUCUK ANGPAO MERAH",2019-12-13,2019-12-20
1085,917,AHSYTA,X MIPA 2,1,NEGERI PARA BEDEBAH,2019-12-16,2019-12-23

In [3]:
basket = (df.groupby(['tid', 'title'])['qty']
          .sum().unstack().reset_index().fillna(0)
          .set_index('tid'))
basket

title,,100% JAWARA FISIKA,105 PESA NABI UNTUK WANITA,105 PESAN NABI,105 PESAN NABI UNTUK WANITA SEHARI HARI,115 KISAH MENAJUBKAN,15 KISAH NYATA HOROR,17 TAHUN,17 TAHUN BIKIN PUSING,20 PAHLAWAN NASIONAL,...,WHY ? ROKET DAN PESAWAT RUANG ANGKASA,WHY ? SAINS INVESTUIGASI,WHY ? SAINTS INVESTIGASI,WHY CAN'T FALL IN LOVE,WHY KANEDA CAN'T FALL IN LOVE 1,WHY KANEDA CAN'T FALL IN LOVE 2,WOMAN IN CABIN 10,YA ALLAH MASUKAN AKU KEDALAM SURGA-MU,YESUS ANAK MANUSIA,ZEIRA
tid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)
basket_sets

title,,100% JAWARA FISIKA,105 PESA NABI UNTUK WANITA,105 PESAN NABI,105 PESAN NABI UNTUK WANITA SEHARI HARI,115 KISAH MENAJUBKAN,15 KISAH NYATA HOROR,17 TAHUN,17 TAHUN BIKIN PUSING,20 PAHLAWAN NASIONAL,...,WHY ? ROKET DAN PESAWAT RUANG ANGKASA,WHY ? SAINS INVESTUIGASI,WHY ? SAINTS INVESTIGASI,WHY CAN'T FALL IN LOVE,WHY KANEDA CAN'T FALL IN LOVE 1,WHY KANEDA CAN'T FALL IN LOVE 2,WOMAN IN CABIN 10,YA ALLAH MASUKAN AKU KEDALAM SURGA-MU,YESUS ANAK MANUSIA,ZEIRA
tid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
frequent_itemsets = fpgrowth(basket_sets, min_support=0.002, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(GELANG BERTUAH),(RAHASIA LUKISAN),0.013086,0.027263,0.002181,0.166667,6.113333,0.001824,1.167285
1,(RAHASIA LUKISAN),(GELANG BERTUAH),0.027263,0.013086,0.002181,0.080000,6.113333,0.001824,1.072732
2,(DUA BELAS PASANG MATA),(LITTLE WOMEN),0.003272,0.004362,0.002181,0.666667,152.833333,0.002167,2.986914
3,(LITTLE WOMEN),(DUA BELAS PASANG MATA),0.004362,0.003272,0.002181,0.500000,152.833333,0.002167,1.993457
4,(115 KISAH MENAJUBKAN),(ANATOMI DAN FISIOLOGI),0.006543,0.005453,0.002181,0.333333,61.133333,0.002145,1.491821
5,(ANATOMI DAN FISIOLOGI),(115 KISAH MENAJUBKAN),0.005453,0.006543,0.002181,0.400000,61.133333,0.002145,1.655762
6,(AYAH),(API TAUHID),0.010905,0.008724,0.002181,0.200000,22.925000,0.002086,1.239095
7,(API TAUHID),(AYAH),0.008724,0.010905,0.002181,0.250000,22.925000,0.002086,1.318793
8,(DUNIA TANPA SEKOLAH),(HUJAN BULAN JUNI),0.008724,0.003272,0.002181,0.250000,76.416667,0.002152,1.328971
9,(HUJAN BULAN JUNI),(DUNIA TANPA SEKOLAH),0.003272,0.008724,0.002181,0.666667,76.416667,0.002152,2.973828
10,(KENANG KENANGAN WANITA PEMALU),(HAPPINESS),0.002181,0.010905,0.002181,1.000000,91.700000,0.002157,inf
11,(HAPPINESS),(KENANG KENANGAN WANITA PEMALU),0.010905,0.002181,0.002181,0.200000,91.700000,0.002157,1.247274
12,(NEGERI PARA BEDEBAH),(NEGERI DIUJUNG TANDUK),0.009815,0.003272,0.002181,0.222222,67.925926,0.002149,1.281508
13,(NEGERI DIUJUNG TANDUK),(NEGERI PARA BEDEBAH),0.003272,0.009815,0.002181,0.666667,67.925926,0.002149,2.970556
14,(SHALAHUDDIN AL-AYUBI),(BE CALM BE STRONG BE GRATEFUL),0.007634,0.015267,0.006543,0.857143,56.142857,0.006427,6.893130
15,(BE CALM BE STRONG BE GRATEFUL),(SHALAHUDDIN AL-AYUBI),0.015267,0.007634,0.006543,0.428571,56.142857,0.006427,1.736641
16,(AISYAH),(LAYLA),0.016358,0.004362,0.003272,0.200000,45.850000,0.003200,1.244547
17,(LAYLA),(AISYAH),0.004362,0.016358,0.003272,0.750000,45.850000,0.003200,3.934569
18,(DUNIA ANNA),"(KAU, AKU DAN SEPUCUK ANGPAO MERAH)",0.006543,0.015267,0.002181,0.333333,21.833333,0.002081,1.477099
19,"(KAU, AKU DAN SEPUCUK ANGPAO MERAH)",(DUNIA ANNA),0.015267,0.006543,0.002181,0.142857,21.833333,0.002081,1.159033
20,(PATAH HATI WOLES AJA!),(SURAT KECIL UNTUK TUHAN),0.002181,0.007634,0.002181,1.000000,131.000000,0.002164,inf
21,(SURAT KECIL UNTUK TUHAN),(PATAH HATI WOLES AJA!),0.007634,0.002181,0.002181,0.285714,131.000000,0.002164,1.396947
22,(SURGA MASIH DITELAPAK KAKI IBU),(API TAUHID),0.007634,0.008724,0.002181,0.285714,32.750000,0.002114,1.387786
23,(API TAUHID),(SURGA MASIH DITELAPAK KAKI IBU),0.008724,0.007634,0.002181,0.250000,32.750000,0.002114,1.323155
24,(OLIVER TWIST),(ABOUT FRIENDS),0.003272,0.003272,0.002181,0.666667,203.777778,0.002170,2.990185
25,(ABOUT FRIENDS),(OLIVER TWIST),0.003272,0.003272,0.002181,0.666667,203.777778,0.002170,2.990185
26,(EMPAT KHALIFAH),(ODE A NIGTHTINGALE),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
27,(ODE A NIGTHTINGALE),(EMPAT KHALIFAH),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
28,(BIOLOGI KLS X BSE),(MARKETING MUHAMMAD),0.047983,0.005453,0.004362,0.090909,16.672727,0.004100,1.094002
29,(MARKETING MUHAMMAD),(BIOLOGI KLS X BSE),0.005453,0.047983,0.004362,0.800000,16.672727,0.004100,4.760087
30,(BILANG BEGINI MAKSUDNYA BEGITU),(SUNSHINE BECOMES YOU),0.003272,0.005453,0.002181,0.666667,122.266667,0.002163,2.983642
31,(SUNSHINE BECOMES YOU),(BILANG BEGINI MAKSUDNYA BEGITU),0.005453,0.003272,0.002181,0.400000,122.266667,0.002163,1.661214
32,(HABIBIE ( TAK BOLEH LELAH DAN KALAH)),(MAHASISWA KOPLAK),0.002181,0.003272,0.002181,1.000000,305.666667,0.002174,inf
33,(MAHASISWA KOPLAK),(HABIBIE ( TAK BOLEH LELAH DAN KALAH)),0.003272,0.002181,0.002181,0.666667,305.666667,0.002174,2.993457

In [6]:
frequent_itemsets

      support                                           itemsets
0    0.004362                                            (GHAZI)
1    0.013086                                   (A UNTUK AMANDA)
2    0.006543                                      (DEAR NATHAN)
3    0.010905                                   (TANAMAN MOSTER)
4    0.007634                                         (TIFA TUA)
..        ...                                                ...
214  0.002181                      (OLIVER TWIST, ABOUT FRIENDS)
215  0.002181               (EMPAT KHALIFAH, ODE A NIGTHTINGALE)
216  0.004362            (BIOLOGI KLS X BSE, MARKETING MUHAMMAD)
217  0.002181  (BILANG BEGINI MAKSUDNYA BEGITU, SUNSHINE BECO...
218  0.002181  (HABIBIE ( TAK BOLEH LELAH DAN KALAH), MAHASIS...

[219 rows x 2 columns]

In [7]:
rules_fp = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)

In [8]:
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(KENANG KENANGAN WANITA PEMALU),(HAPPINESS),0.002181,0.010905,0.002181,1.000000,91.700000,0.002157,inf
1,(SHALAHUDDIN AL-AYUBI),(BE CALM BE STRONG BE GRATEFUL),0.007634,0.015267,0.006543,0.857143,56.142857,0.006427,6.893130
2,(PATAH HATI WOLES AJA!),(SURAT KECIL UNTUK TUHAN),0.002181,0.007634,0.002181,1.000000,131.000000,0.002164,inf
3,(EMPAT KHALIFAH),(ODE A NIGTHTINGALE),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
4,(ODE A NIGTHTINGALE),(EMPAT KHALIFAH),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
5,(MARKETING MUHAMMAD),(BIOLOGI KLS X BSE),0.005453,0.047983,0.004362,0.800000,16.672727,0.004100,4.760087
6,(HABIBIE ( TAK BOLEH LELAH DAN KALAH)),(MAHASISWA KOPLAK),0.002181,0.003272,0.002181,1.000000,305.666667,0.002174,inf